# compiled output
/dist
/node_modules

gateway/dist
gateway/node_modules

temp-celsius/dist
temp-celsius/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

temp-celsius/logs
temp-celsius/*.log
temp-celsius/npm-debug.log*
temp-celsius/pnpm-debug.log*
temp-celsius/yarn-debug.log*
temp-celsius/yarn-error.log*
temp-celsius/lerna-debug.log*

gateway/logs
gateway/*.log
gateway/npm-debug.log*
gateway/pnpm-debug.log*
gateway/yarn-debug.log*
gateway/yarn-error.log*
gateway/lerna-debug.log*

# OS
.DS_Store

gateway/.DS_Store
temp-celsius/.DS_Store

# Tests
/coverage
/.nyc_output
.env

gateway/coverage
gateway/.nyc_output
gateway/.env

temp-celsius/coverage
temp-celsius/.nyc_output
temp-celsius/.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

temp-celsius/.idea
temp-celsius/.project
temp-celsius/.classpath
temp-celsius/.c9/
temp-celsius/*.launch
temp-celsius/.settings/
temp-celsius/*.sublime-workspace

gateway/.idea
gateway/.project
gateway/.classpath
gateway/.c9/
gateway/*.launch
gateway.settings/
gateway/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json